<!doctype html>
<html lang="{{ it.lang || "en" }}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ it.title ? `${title} | ${site.title}` : site.title }}</title>
    <meta name="supported-color-schemes" content="light dark">
    <meta name="theme-color" content="hsl(220, 20%, 100%)" media="(prefers-color-scheme: light)">
    <meta name="theme-color" content="hsl(220, 20%, 10%)" media="(prefers-color-scheme: dark)">

    <link rel="stylesheet" href="/styles.css">
    <link rel="canonical" href="{{ url |> url(true) }}">
    {{ it.extra_head?.join("\n") }}
</head>

<body>
  <div class="container">
    <main class="{{if it.protection }}protected{{ /if }}">
      {{ it.content }}
    </main>
    {{ include "layouts/templates/footer.vto" }}
  </div>
</body>
</html>

